
[Unit]
Description=Particl stakepool mainnet
After=particld_live.service
Requires=particld_live.service

[Service]
ExecStart=/usr/local/bin/coldstakepool-run -datadir=~/stakepoolDemoLive/stakepool
TimeoutStopSec=30

User=stakepooluser
Restart=on-failure


# Hardening measures
####################

# Provide a private /tmp and /var/tmp.
PrivateTmp=true

# Mount /usr, /boot/ and /etc read-only for the process.
ProtectSystem=full

# Disallow the process and all of its children to gain
# new privileges through execve().
NoNewPrivileges=true

# Use a new /dev namespace only populated with API pseudo devices
# such as /dev/null, /dev/zero and /dev/random.
PrivateDevices=true

# Deny the creation of writable and executable memory mappings.
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
